/* Stilizare pentru paginile care contin postarile de pe Blog */
*{
    box-sizing: border-box;
}
.wrapper-blog-post{
    /* Flex-Box Props */
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#blogPostContent{
    /* FlexBox Props */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* Margin and Padding */
    box-sizing: border-box;
    padding: 0.9em;
    /* Colors */
    color: #6676a9;
    /* Text */
    text-align: center;
    background-color: #F5F5F5;
}
/* Stilizarea H2 */
#blogPostContent h2{
    font-weight: 800;
    font-size: 1.8em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}
/* Stilizarea imaginilor */
#blogPostContent img{
    width: 20em;
    height: 20em;
    margin: 1.2em 0em;
    box-shadow: 8px 8px 10px 0 #6c5b7b;
    border-top: 2px solid #6c5b7b;
    border-left: 2px solid #6c5b7b;
}
/* Stilizarea paragrafelor */
#blogPostContent p{
    max-width: 75%;
    line-height: 2.5;
    font-weight: 550;
    font-size: 1.125em;
}