*{
    margin: 0px;
    padding: 0px;
}

.termsandcond{
    background-color: lightgray;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Cairo", sans-serif;
}

.termsandcond p{
    font-weight: bold;
    font-size: 1.2em;
    margin: 15px 0px;
}