.wrapper-aboutUs{
    display: flex;
    flex-direction: column;
    background-color: #F5F5F5;
}

.Cards{
    background-image: url('./imaginibranding/background-boabe-mari.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.5s;
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    min-height: 40vh;
    flex-wrap: wrap;
    padding: 1.65em;
}
.Cards:hover{
    background-image: url('./imaginibranding/background-boabe-colorate.jpg');
    transition: 0.5s;
    background-size: cover;
    background-repeat: no-repeat;
}

.Card{
    background-color: #6676a9;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.5);
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.5em 1.5em;
    border-radius: 50%;
    color: white;
    box-sizing: border-box;
    font-size: 1.2em;
    padding: 1.5em;
    border: 7px solid white;
}
.Card:hover{
    box-shadow: 0 20px 30px 0 rgba(0,0,0,0.5);
}
.Card h2{
    font-size: 1.5em;
    font-weight: bold;
}
.Card i{
    font-size: 2.75em;
}

.Articles{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 50vh;
}

article{
    text-align: center;
    padding: 2.5em 15em;
}

article h2{
    font-size: 3.5em;
    font-weight: bold;
}

#articleOne{
    color: #6676a9;
    font-weight: 600;
}

#articleTwo{
    background-color: #6676a9;
    color: white;
    font-weight: 550;
}

#articleThree{
    color: #6676a9;
    font-weight: 600;
}

@media(min-width:1000px){
    article{
        line-height: 2.5;
        font-size: 1.2em;
    }
}

@media(max-width: 710px){
    article{
        padding: 20px;
    }
}