body{
    text-align: center;
    color: #800000;
    background-color: #F5F5F5;
}
#titluAdministrator{
    color: white;
    font-weight: bold;
    font-size: 1.8em;
    width: 350px;
    box-shadow: 10px 10px 10px 0 #355c7d;
    background-color: #355c7d;
    margin: 5px auto;
    padding: 15px;
}
.produse-admin{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.produs-admin{
    /* FlexBox */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 400px;
    width: 250px;
    box-sizing: content-box;
    margin: 0.5em;
    text-align: center;
    color: #355c7d;
}
.denumire{
    font-weight: 850;
    font-size: 1.2em;
}
.imagine{
    max-width: 100%;
    height: auto;
    border: 0.125em solid #dac74e;
}
.descriere{
    font-weight: 500;
    letter-spacing: 0.01em;
}
.pret{
    font-weight: 800;
    font-size: 1.2em;
    color: #dac74e;
}
.stergereprodus{
    text-decoration: none;
    border: none;
    background: none;
    outline: none;
    color: #800000;
    font-weight: bold;
    border: 0.125em solid #800000;
    padding: 0.5em;
}
.stergereprodus:hover{
    color: white;
    background-color: #800000;
}

/*  */
.instructiuni{
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    color: #355c7d;
}
.form-adaugare{
    font-size: 1.5em;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.form-adaugare input{
    font-family: inherit;
    font-size: inherit;
    border: none;
    outline: none;
    color: #6676a9;
    border-bottom: 0.0625em solid #6676a9;
    margin: 0.5em;
    width: 350px;
    background-color: #F5F5F5;
}
input[type="submit"]{
    border: 0.125em solid #355c7d;
    color: #355c7d;
    outline: none;
    background: none;
}
input[type="submit"]:hover{
    background-color: #355c7d;
    color: white;
}

.buton-logout-admin{
    margin: 15px auto;
    text-align: center;
    background-color: #800000;
    padding: 15px 30px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px 0 #800000;
    width: 350px;
}

.buton-logout-admin a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.8em;
    color: white;
    font-weight: 700;
}

.sectiune-adaugare{
    width: 450px;
    margin: 0 auto;
}